@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500;600;700&display=swap');


:root {
    --primary-color: #6366F1;
    --accent-color: #3f83f8;
    --text-color: #333333;
    --link-color: #2563eb;
    --background-color: #ffffff;
    --light-gray: #f0f0f0;
    --gray: #808080;
    --dark-gray: #555;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

body {
    height: 100vh;
    text-align: center;
    background-color: var(--background-color);
    padding: 0.1rem;
}

.header_content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1000px;
    align-items: center;
    padding: 0.4rem;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
    gap: 0.435rem;


}

.logoicon {
    height: 4.875rem;
    width: 1.938rem;
}

.logo_text {
    font-size: 1.8rem;
}


.nav {
    display: none;
    gap: 1rem;
}

@media screen and (min-width: 700px) {
    .nav {
        display: flex;
    }
}


.nav_link {
    color: #718096;
    font-size: 1.345rem;
    font-weight: 600;
    transform: color 0.1s;
    ;
}

.nav_link:hover {
    color: var(--link-color);
}


.contect_butten {
    display: none;
    border: none;
    border-radius: 0.375rem;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: all 0.1s;
    padding: 0.6rem 1rem;
    font-size: 1rem;
    font-weight: 600;


}

@media screen and (min-width: 700px) {
    .contect_butten {
        display: block;
    }

}

.contect_butten:hover {
    background-color: #5254f8;
}


.menu_butten {
    display: none;
    border: none;
    border-radius: 0.375rem;
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--background-color);

    padding: 0.3rem 0.8rem;


}

@media screen and (max-width: 700px) {
    .menu_butten {
        display: block;
    }
}

.menuicon {
    height: 1.5rem;
    width: 1.5rem;
}



.main_section{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 0.4rem;
    align-items: center;
    margin: 0 auto;
    

}


.content_left{
    text-align: center;
    animation: slidefromleft 1s ease forwards;

    opacity: 0;
}

@keyframes slidefromleft {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }

   100%{
        opacity: 1;
        transform: translateX(0);
    }
    
}


.section_label{
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-color);
    padding-left: 0;
    
}

.section_title{
    font-size: 2rem;
    padding: 0.9rem;
    color: var(--text-color);
    padding-left: 0;

}


.section_desc{
    color: var(--gray);
    font-size: 1.13rem;

}


.butten_group{

    display: flex;
    gap: 2rem;
    padding: 1rem;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    padding-left: 0;

}

.start_butten, 
.tour_butten{
    border: none;
    border-radius: 0.375rem;
    font-size: 0.9rem;
    font-weight: 600;
    background-color: var(--primary-color);
    color: var(--background-color);
    transform: all 0.1s;


    padding: 0.7rem 0.7rem;

}

.tour_butten{
background-color: var(--dark-gray);
}

.start_butten:hover{
    background-color: #70719e;
}
.tour_butten:hover{
    background-color: var(--gray);
}
/* content right */

.content_right{

    display: flex;
    align-items: center;
    justify-content: center;


}

.img_container{
    border: none;
    border-radius: 1.625rem;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    height: 50vh;

}

.section_image{
    height: 100%;
    width: 100%;

}


@media screen and (min-width: 700px){
    .main_section{
        flex-direction: row;
    }
    .content_left{
        width: 50%;
        text-align: left;
    }
    .section_title{
        padding-left: 0;
    }
    .butten_group{
        justify-content: start;
        padding-left: 0;
    }
    .section_label{
        font-size: 0.8rem;
    }
    .section_title{
        font-size: 2.9rem;
    }
    .img_container{
        height: 66vh;
    }
    .section_desc{
        font-size: 1rem;
        color: var(--gray);
        width: 73%;
    }
}


.company_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
    animation: slidefromleft 1s ease forwards;


}

.compony_grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.6rem;
    padding: 1rem;
    background-color: var(--light-gray);
    border: none;
    border-radius: 0.625rem;
    margin-top: 2rem;
    padding: 1.8rem 2.5rem;
    margin-bottom: 10rem;
}


.companylogo{

    font-size: 1rem;
    font-weight: 500;
    color: var(--gray);
    display: flex;
    gap: 0.5rem;

}

.svgimg{
/* height: 20px; */
height: 1.56rem;
}
.logotext{
font-size: 1rem;
}
@media screen and (min-width: 700px) {
    .compony_grid{
        grid-template-columns: repeat(4, 1fr);
    }
    
}


.componytitle{
    font-size: 2rem;
    font-weight: bold;
}